In [26]:
import pandas as pd

In [36]:
df = pd.read_csv('flats (5).csv', sep='^')

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3991 entries, 0 to 3990
Data columns (total 33 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Общая площадь           3991 non-null   object
 1   Площадь кухни           3564 non-null   object
 2   Этаж                    3988 non-null   object
 3   Балкон или лоджия       2961 non-null   object
 4   Тип комнат              2402 non-null   object
 5   Высота потолков         2053 non-null   object
 6   Санузел                 3599 non-null   object
 7   Окна                    3047 non-null   object
 8   Ремонт                  3477 non-null   object
 9   Тёплый пол              277 non-null    object
 10  Мебель                  1297 non-null   object
 11  Техника                 1021 non-null   object
 12  Способ продажи          3702 non-null   object
 13  Вид сделки              2163 non-null   object
 14  Тип дома                3988 non-null   object
 15  Год постройки           2313 non-null   float64
 16  Этажей в доме           3988 non-null   float64
 17  Пассажирский лифт       2460 non-null   object
 18  Грузовой лифт           2097 non-null   object
 19  Двор                    2079 non-null   object
 20  Парковка                2384 non-null   object
 21  Цена                    3988 non-null   float64
 22  Валюта                  3988 non-null   object
 23  Местоположение          3988 non-null   object
 24  Ссылка                  3988 non-null   object
 25  Жилая площадь           2783 non-null   object
 26  В доме                  1327 non-null   object
 27  Отделка                 470 non-null    object
 28  Официальный застройщик  443 non-null    object
 29  Тип участия             443 non-null    object
 30  Срок сдачи              443 non-null    object
 31  Корпус  строение        316 non-null    object
 32  Запланирован снос       8 non-null      object
dtypes: float64(3), object(30)
memory usage: 1.0+ MB